*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 
/* start first sec */
.first-sec{
    position: relative;
    background-image: linear-gradient(90deg,rgb(255,102,153),rgb(255,193,204)) ;
    width: 100%;
    height: 650px;
}
.first-sec .head {
    position: fixed;
    width: 100%;
}
.first-sec .head .pic-one{
    width: 100px;
}
.first-sec .head .navigation{
    position: relative;
    width: 62%;
    top: 40px;
    /* width: calc(100% - 200px); */
    float: right;
}
.first-sec .head .navigation a{
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    color: beige;
}
.first-sec .pic-two{
    width: 650px;
    position: absolute;
    top: 50px;
    left: 200px;
}
.first-sec .text-1 {
    position: absolute;
    top: 240px;
    left: 25px;
}
.first-sec .button-2{
    background-color: #3a2755;
    border: 2px solid #3a2755;
    border-radius: 18px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    min-height: 3.5rem;
    width: 100%;
}
.first-sec .button-1{
    background-color: #3a2755;
    border: 2px solid #3a2755;
    border-radius: 18px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    min-height: 3.5rem;
    width: 100%;
}
.first-sec .text-1 h2{
    font-size: 40px;
}
.first-sec .text-2 {
    position: absolute;
    top: 240px;
    right: 25px;
}
.first-sec .text-2 h2{
    font-size: 40px;
}
.first-sec .row{
    font-size: 5rem;
    color: white;
    font-weight: lighter;
}
/* end first sec */
/* start second sec */
.second-sec .head h1{
    text-align: center;
    font-size: 80px;
    color: #57308f;
}
.second-sec .head span{
    color: white;
}
/* .second-sec .head ,.second-sec  .head h1{
    margin: 0; 
} */
.second-sec .box ,.second-sec  .head{
    background-color: rgb(152,113,203);
}
.second-sec .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    right: -50px;
}
.second-sec .box .image{
    position: relative;
    width: 700px;
    height: 700px;
    z-index: 2;
    /* transition: all 0.6s ease-in-out; */
}
.second-sec .box img{
    transition: all 0.6s ease-in-out;
}
.second-sec .box .donut{
    width: 100%;
}

.second-sec .box .leaf{
    position: absolute;
    width: 35%;
}
.second-sec .box .leaf:nth-of-type(1){
    top:0;
    left: 0;
    /* rotate: 90deg; */
}
.second-sec .box .leaf:nth-of-type(2){
    top:0;
    right: 0;
}
.second-sec .box .leaf:nth-of-type(4){
    bottom: 0;
    left: 0;
}
.second-sec .box .leaf:nth-of-type(5){
    bottom: 0;
    right: 0;
    /* rotate: 90deg; */
}
.second-sec .box img:hover{
    margin-left: 20px;
    transform: translateY(-100px);
}
.second-sec .box .box2{
    width: 300px;
    height: 300px;
    /* border: 2px solid black; */
    color: white;
}
.second-sec .box .box2 h2{
    font-size: 40px;
}
.second-sec .box .box2 p{
    font-size: 20px;
}
.second-sec .color-options{
    display: flex;
    margin-top: 10px;
}
.second-sec .color-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}    
.second-sec .button-3{
    background-color: #3a2755;
    border: 2px solid #3a2755;
    border-radius: 18px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    min-height: 3.5rem;
    width: 100%;
}
.second-sec .under-pic{
    position: absolute;
    font-size: 6.7rem;
    z-index: 1;
    bottom: 0%;
    left: 5%;
    color: white;
    font-weight: 900;
    z-index: -1;
}
/* end second sec */
/* start third sec */
.third-sec{
    background-color: rgb(58,39,85);
    width: 100%;
    height: 600px;
}
.third-sec .head{
    color: rgb(255,106,103);
}
.third-sec .head h1{
    padding: 30px;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
}
.third-sec .content {
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
}
.third-sec  .content h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.third-sec .content p {
    font-weight: 700;
    font-size: 1.2rem;
}
.third-sec .content .details {
    font-size: 1rem;
    color: #ff6a67;
}
/* end third sec */
/* start email sec */
.email-section {
    padding: 5rem 0;
    background-image: url(../image/ContactBg.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.email-section .email-header {
    color: white;
    text-align: center;
    padding: 2.5rem;
}
.email-section .email-header h1 {
    font-weight: 900;
    font-size: 2rem;
}

.email-section .email-content {
    text-align: center;
}
.email-section .email-content input {
    border-radius: 50px;
    border: 2px solid #ff6699;
    padding: 1rem 8rem 1rem 1.2rem;
}
/* end email sec */
/* start footer section */
.footer{
    background-image: linear-gradient(90deg,rgb(255,102,153),rgb(255,193,204)) ;
    padding: 50px 0 0 50px;
    width: 100%;
    height: 400px;
    position: relative;
}
.footer .row{
    position: relative;
    width: 80%;
    display: flex;
    left: 10%;
}
.footer img{
    width: 40%;
    position: absolute;
    right: 0;
    width: 40%;
}
.row .column{
    width: 30%;
}
.row ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
}
.footer-end{
    position: absolute;
    bottom: 0;
    left: 40%;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}
/*end footer section */
